<!-- xplsek03 | 2021 | FIT VUT Brno, bakalarska prace Razeni manipulaci pro morici linky //-->


{% extends "nav.html" %}

{% block title %}
INDEX
{% end %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-3">SHOPHACKER</h1>
  <p class="lead">Webové rozhraní aplikace pro řešení HSP problému (plánování pohybu jeřábů při manipulaci produktů na mořicí lince).</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/task" role="button">Nová úloha</a>
  </p>
</div>

{% end %}
