<!-- xplsek03 | 2021 | FIT VUT Brno, bakalarska prace Razeni manipulaci pro morici linky //-->


{% extends "nav.html" %}

{% block title %}
Jeřáb - {{ item['nazev'] }}
{% end %}

{% block content %}

<div class="card bg-light m-4">
  <h5 class="card-header">{{ item['nazev'] }}</h5>
  <div class="card-body">
    <h5 class="card-title">Editovat vlastnosti jeřábu</h5>

    <form method="post" action="/jeraby/{{ str(item['_id']) }}">

    <div class="form-group">
        <label class="control-label">Označení jeřábu</label>
        <input class="form-control" name="sign" type="text" readonly="" value="{{ item['sign'] }}">
    </div>

    <div class="form-group">
      <label class="col-form-label">Název jeřábu</label>
      <input type="text" name="nazev" class="form-control" value="{{ item['nazev'] }}">
    </div>

      <div class="form-group">
        <label class="col-form-label">Raise_low [s]</label>
        <input type="number" name="raise_low" class="form-control" value="{{ item['raise_low'] }}">
      </div>
    
      <div class="form-group">
        <label class="col-form-label">Raise_high [s]</label>
        <input type="number" name="raise_high" class="form-control" value="{{ item['raise_high'] }}">
      </div>

    <div class="form-group">
      <label class="col-form-label">Empty_move [s]</label>
      <input type="number" name="prejezd" class="form-control" value="{{ item['empty_move'] }}">
    </div>

    <div class="form-group">
      <label class="col-form-label">Loaded_move [s]</label>
      <input type="number" name="move" class="form-control" value="{{ item['move'] }}">
    </div>

      <a href="/jeraby" class="btn btn-secondary">Zpět na jeřáby</a>
      <input type="submit" class="btn btn-primary" name="save" value="Uložit">
      <input type="submit" class="btn btn-danger" name="delete" value="Smazat">

      {% module xsrf_form_html() %}

    </form>

  </div>
</div>

{% end %}
